@model User

@{
    ViewData["Title"] = "Registreren";
}

<div class="min-vh-100 w-100 d-flex justify-content-center align-items-center">
    <div class="card p-4">
        <h1 class="mb-4 mr-5">Email geverifieerd</h1>
        <a class="btn btn-success" asp-area="" asp-controller="Home", asp-action="Index">Verder</a>
    </div>
    <div class="w-100 position-fixed min-vh-100 st-working-from-anywhere"></div>
</div>