@{
    ViewData["Title"] = "StreetTalk home";
}

<div class="homepage-row-small d-flex align-items-center justify-content-center flex-column homepage-hero-image">
    <h1 class="homepage-hero-text">StreetTalk.</h1>
    <p class="homepage-hero-subtext">Voor een veilige buurt</p>
</div>