@{
    ViewData["Title"] = "Rondleiding";
}


<div class="st-container">
    <h1 class="mb-3">Rondleiding</h1>
    <hr class="my-4" />
    <div class="row my-5">
        <div class="col-12 col-md-6 justify-content-center d-none d-md-flex">
            <div class="st-img-wrapper">
                <img class="img-fluid" src="~/img/navbar.png" alt="Afbeelding navigatiebalk"/>
            </div>
        </div>
        <div class="col-12 col-md-6 d-flex justify-content-center flex-column p-3">
            <h2>Navigatiebalk</h2>
            <p>De hoofdzakelijke manier om door onze website te navigeren is de navigatiebalk.
                U kunt de navigatiebalk uitklappen door uw muis er over heen te bewegen, 
                of als u een mobiel apparaat gebruikt door op de drie streepjes te klikken 
                in de rechter hoek boven aan de pagina.</p>
        </div>
    </div>
    <hr class="my-4" />
    <div class="row my-5">
        <div class="col-12 col-md-6 d-flex justify-content-center flex-column p-3">
            <h2>Meldingen bekijken</h2>
            <p>Op deze pagina kunt u alles zien wat er momenteel speelt in uw buurt.
                U ziet hier een lijst van meldingen van u en uw buurtgenoten.</p>
            <p>Om een melding in detail te bekijken kunt u op de titel van de melding klikken. 
                U kunt een melding hier ook rapporteren of liken door op de knoppen an de rechterkant van de melding te klikken.</p>
        </div>
        <div class="col-12 col-md-6 justify-content-center d-none d-md-flex">
            <div class="st-img-wrapper">
                <img class="img-fluid" src="~/img/meldingen_bekijken.png" alt="Afbeelding meldingen scherm"/>
            </div>
        </div>
    </div>
    <hr class="my-4" />
    <div class="row my-5">
        <div class="col-12 col-md-6 justify-content-center d-none d-md-flex">
            <div class="st-img-wrapper">
                <img class="img-fluid" src="~/img/publiek_melden.png" alt="Afbeelding publiek melden scherm"/>
            </div>
        </div>
        <div class="col-12 col-md-6 d-flex justify-content-center flex-column p-3">
            <h2>Publiek/Anoniem melden</h2>
            <p>Op deze pagina's kunt u zelf als buurtbewoner een melding doen van iets wat speelt in uw buurt.
                Voor dat u een melding maakt, raden wij aan om eerst te kijken of er al een bestaande melding is 
                waar het zelfde probleem wordt besproken.</p>
            <p>Als u een foto upload bij een melding, vragen wij u om aan te geven of deze foto aanstootgevend is.
                Dit betekend dat als deze foto bloed, of andere inhoud bevat waarvan u denkt dat dit niet gepast is 
                om te zien voor iedere gebruiker, u deze checkbox moet aanvinken.</p>
        </div>
    </div>
    <hr class="my-4" />
    <div class="row my-5">
        <div class="col-12 col-md-6 d-flex justify-content-center flex-column p-3">
            <h2>Commentaar</h2>
            <p>Onder aan een melding kunt u de discussie aangaan met uw buurtgenoten over deze melding.
                Hier voor bieden wij u een commentaar sectie bij elke melding.</p>
            <p>Wij vragen u om geen persoonlijke informatie van u of een ander persoon te delen in het commentaar.</p>
        </div>
        <div class="col-12 col-md-6 justify-content-center d-none d-md-flex">
            <div class="st-img-wrapper">
                <img class="img-fluid" src="~/img/commentaar.png" alt="Afbeelding commentaar scherm"/>
            </div>
        </div>
    </div>
    <hr class="my-4" />
        <div class="row my-5">
            <div class="col-12 col-md-6 justify-content-center d-none d-md-flex">
                <div class="st-img-wrapper">
                    <img class="img-fluid" src="~/img/profiel.png" alt="Afbeelding profiel scherm"/>
                </div>
            </div>
            <div class="col-12 col-md-6 d-flex justify-content-center flex-column p-3">
                <h2>Profiel</h2>
                <p>Hier kunt u uw eigen gegevens inzien en aanpassen. <br/>Ook kan u hier uw gegevens opvragen, of permanent uw account verwijderen.</p>
                <p>Wij raden aan om hier een <a asp-controller="Home" asp-action="Index">foto te uploaden</a> zodat u herkent wordt door uw buurtgenoten.</p>
            </div>
        </div>
</div>