@{
    ViewData["Title"] = "Site Map";
}

@section styles {
    <link href="~/css/sitemap.css" rel="stylesheet" />
}

<div class="container st-container">
    <div class="row">
        <h1>Sitemap</h1>
        <hr class="my-3">
    </div>
    <div class="row text-center text-sm-left">
        <div class="col-12 col-sm-6 col-md-4 align-content-start p-0 my-2">
            <h3>Profiel</h3>
            <ul class="sitemap-links">
                <li><a href="#">Profiel</a></li>
                <li><a href="#">Account verwijderen</a></li>
                <li><a href="#">Gegevens opvragen</a></li>
                <li><a href="#">Profiel bewaren</a></li>
                <li><a href="#">Mijn meldingen</a></li>
            </ul>
        </div>
        <div class="col-12 col-sm-6 col-md-4 align-content-center p-0 my-2">
            <h3>Meldingen</h3>
            <ul class="sitemap-links">
                <li><a href="#">Meldingen lijst</a></li>
                <li><a href="#">Anonieme melding doen</a></li>
                <li><a href="#">Publieke melding doen</a></li>
            </ul>
        </div>
        <div class="col-12 col-sm-6 col-md-4 align-content-end p-0 my-2">
            <h3>Overig</h3>
            <ul class="sitemap-links">
                <li><a href="#">Home</a></li>
                <li><a href="#">Privacy</a></li>
                <li><a href="#">Voorwaarden</a></li>
                <li><a href="#">Contact opnemen</a></li>
            </ul>
        </div>
    </div>
</div>