@{
    ViewData["Title"] = "Site Map";
}

@section styles {
    <link href="~/css/sitemap.css" rel="stylesheet" />
}

<div class="container st-container">
    <div class="row">
        <h1>Sitemap</h1>
        <hr class="my-3">
    </div>
    <div class="row text-center text-sm-left">
        <div class="col-12 col-sm-6 col-md-4 align-content-start p-0 my-2">
            <h2>Profiel</h2>
            <ul class="sitemap-links">
                <li><a asp-controller="Profile" asp-action="Index">Profiel</a></li>
                <li><a asp-controller="Profile" asp-action="DeleteAccount">Account verwijderen</a></li>
                <li><a asp-controller="Profile" asp-action="Index">Gegevens opvragen</a></li>
                <li><a asp-controller="Profile" asp-action="Index">Profiel bewerken</a></li>
            </ul>
        </div>
        <div class="col-12 col-sm-6 col-md-4 align-content-center p-0 my-2">
            <h2>Meldingen</h2>
            <ul class="sitemap-links">
                <li><a asp-controller="PublicPost" asp-action="Index">Meldingen lijst</a></li>
                <li><a href="#">Anonieme melding doen</a></li>
                <li><a asp-controller="PublicPost" asp-action="Create">Publieke melding doen</a></li>
            </ul>
        </div>
        <div class="col-12 col-sm-6 col-md-4 align-content-end p-0 my-2">
            <h2>Overig</h2>
            <ul class="sitemap-links">
                <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li><a asp-area="Identity" asp-page="/Account/Login">Login</a></li>
            </ul>
        </div>
    </div>
</div>