@model List<PublicPost>

@{
    ViewData["Title"] = "Publieke meldingen";
}

@section styles {
     <link href="~/css/postlist.css" rel="stylesheet" />
}

<div class="posts-container">
    <h1 class="mb-3">Publieke meldingen</h1>
    <ul id="meldingen" class="d-flex flex-column">
        @foreach (var post in Model)
        {
            <li aria-label="Melding: @post.Title">
                <partial name="_PostRow" for="@post"/>
            </li>
        }
    </ul>
</div>