.homepage-hero-image {
    background-image: url("../img/empty_street.svg");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 75vh;
}

.homepage-hero-text {
    font-size: 14vw;
}

.homepage-hero-subtext {
    font-family: 'Open Sans', sans-serif;
    color: #575757;
    font-weight: normal;
    font-size: 2rem;
    text-align: center;
}

.homepage-row {
    padding: 8px;
    overflow-x: hidden;
}

.homepage-row:first-of-type {
    border-bottom: 1px solid #ccc;
}

.p-6 {
    padding: 4rem !important;
}

.mb-6 {
    margin-bottom: 4rem !important;
}

.material-icons{
    display: inline-flex;
    vertical-align: top;
}