.rotated-icon {
    transform: rotate(-25deg);
}

.st-navbar-container {
    padding-left: 58px;
}

.st-navbar {
    position: fixed;
    top: 0;
    left: 0;
    color: #FFFFFF;
    background-color: #1A6FA6;

    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    
    width: 100%;
    max-width: 58px;
    padding: 4px;
    overflow: hidden;
    transition: max-width 200ms ease-in-out, height 200ms ease-in-out;
    z-index: 4;
}

@media (prefers-reduced-motion) {
    .st-navbar {
        transition: none;
    }
}

.st-navbar:hover {
    max-width: 350px;
}

.st-nav-item {
    width: 100%;
}

.st-nav-item-bordered {
    border-top: 1px solid rgba(0, 0, 0, 0.20);
    border-bottom: 1px solid rgba(0, 0, 0, 0.20);
}

.st-nav-link {
    display: flex;
    flex-direction: row;
    color: #FFFFFF;
    background-color: #1A6FA6;
    text-decoration: none;
    border-radius: 5px;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
}

.st-nav-link.active,
.st-nav-link:hover {
    text-decoration: none;
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, 0.20);
}

.st-nav-link-no-highlight:hover {
    background-color: transparent;
}

.st-nav-link > img {
    min-width: 50px;
    height: 50px;
    padding: 8px;
}

.st-nav-link + .st-nav-link {
    margin-top: 8px;
}

.st-nav-link > span {
    min-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 25px;
}

.brand-text {
    font-size: 2rem;
}

.hamburger {
    position: fixed;
    top: 0;
    right: 0;
    width: 100px;
    height: 58px;
    
    display: none;
    align-items: center;
    justify-content: flex-end;
}

.hamburger > img {
    width: 50px;
    height: 50px;
    padding: 8px;
    margin-right: 8px;
}

@media (max-width: 576px) {
    .st-navbar-container {
        padding-left: 0;
        padding-top: 66px;
    }
    
    .st-navbar {
        width: 100vw;
        max-width: 100vw;
        height: 58px;
        flex-direction: row;
        transition-delay: 0s;
    }

    .st-navbar.expanded {
        height: calc(var(--vh, 1vh) * 100);
    }
    
    .st-navbar:hover {
        max-width: 100vw;
    }

    .st-nav-link > span {
        min-width: calc(100vw - 50px);
        padding-right: 50px;
    }

    .hamburger {
        display: flex;
    }
}