.rotated-icon {
    transform: rotate(-25deg);
}

.st-navbar-container {
    padding-left: 58px;
}

.st-navbar {
    position: fixed;
    top: 0;
    left: 0;
    color: #FFFFFF;
    background-color: #1A6FA6;
    height: 100vh;
    width: 100%;
    max-width: 58px;
    padding: 4px;
    overflow: hidden;
    transition: max-width 200ms ease-in-out;
    transition-delay: 1s;
    z-index: 4;
}

@media (prefers-reduced-motion) {
    .st-navbar {
        transition: none;
    }
}

.st-navbar:hover {
    max-width: 350px;
    transition-delay: 0s;
}

.st-nav-item {
    width: 100%;
}

.st-nav-item-bordered {
    border-top: 1px solid rgba(0, 0, 0, 0.20);
    border-bottom: 1px solid rgba(0, 0, 0, 0.20);
}

.st-nav-link {
    display: flex;
    flex-direction: row;
    color: #FFFFFF;
    background-color: #1A6FA6;
    text-decoration: none;
    border-radius: 5px;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
}

.st-nav-link.active,
.st-nav-link:hover {
    text-decoration: none;
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, 0.20);
}

.st-nav-link-no-highlight:hover {
    background-color: transparent;
}

.st-nav-link > img {
    min-width: 50px;
    height: 50px;
    padding: 8px;
}

.st-nav-link + .st-nav-link {
    margin-top: 8px;
}

.st-nav-link > span {
    min-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 25px;
}

.brand-text {
    font-size: 2rem;
}

.st-nav-expand {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 25px;
    top: 50%;
    transform-origin: center center;
    
    border-radius: 50px;
    width: 50px;
    height: 50px;
    background-color: #1A6FA6;
    z-index: 5;
    
    transition: left 200ms ease-in-out, transform 200ms ease-in-out;
}

.st-nav-expand > img {
    width: 30px;
    height: 30px;
}

@media (max-width: 576px) {
    .st-navbar {
        transition-delay: 0s;
    }
    
    .st-nav-expand {
        display: flex;
    }

    .st-navbar.expanded .st-nav-expand {
        left: calc(100vw - 75px);
        transform: rotate(180deg);
    }

    .st-navbar:hover {
        max-width: 58px;
    }

    .st-navbar.expanded {
        max-width: calc(100vw - 50px);
        transition-delay: 0s;
    }

    .st-nav-link > span {
        min-width: calc(100vw - 50px);
    }
}