.post-image-wrapper {
    max-height: 450px;
    border-radius: 4px;
    overflow: hidden;
}

.post-image {
    max-width: 100%;
    transform: translateY(-50%);
    top: 50%;
    position: relative;
}

.profile-image {
    width: 64px;
    height: 64px;
}