a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a {
  color: #0366d6;
  text-decoration: none!important;
}

hr {
  display: block;
  width: 100%;
  margin: 0;
  border: none;
  height: 1px;
  background-color: #CCCCCC;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
  min-height: 100vh;
  background-color: #FAFAFA;
  font-family: 'Open Sans', sans-serif;
  color: #575757;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
  color: #222222;
}

.st-working-from-anywhere {
  opacity: 0.5;
  background-image: url("../img/undraw_working_from_anywhere_ub67.svg");
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: -1;
}

.sr-only {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

.undecorated-list {
  display: block;
  padding: 0;
  margin-bottom: 0!important;
}

.undecorated-list li {
  display: block;
  list-style: none;
}

.unselectable {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}