.sitemap-links {
    list-style: none;
    padding: 0;
}

.sitemap-links li:before {
    content: "\00BB \0020";
}

@media (max-width: 576px) {
    .sitemap-links li {
        font-size: 1.6rem;
        margin: 8px 0px;
    }
}