<footer id="footer" class="page-footer font-small d-flex" aria-label="Copyright en links">
    <div class="container-fluid flex-grow-1">
        <div class="row h-100">
            <div class="d-none d-md-flex col-xs-12 col-md-4">
                <img alt="Afbeelding van een huis" src="~/img/footer_picture_home.svg" class="footer-image img-fluid">
            </div>
            <div class="text-center col-xs-12 col-md-4 d-flex justify-content-center align-items-center flex-column p-md-2 pb-0">
                <span aria-label="Copyright vermelding">&copy; 2020, StreetTalk.</span>
                <span>
                    <a href="mailto:info@streettalk.nl">info@streettalk.nl</a>
                    &#8226;
                    <a href="tel:0612345678">06-12345678</a>
                    &#8226;
                    <a asp-controller="Home" asp-action="Sitemap">Sitemap</a>
                </span>
            </div>
        </div>
    </div>
</footer>