<!DOCTYPE html>
<html lang="nl">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="Buurtapp StreetTalk, voor de haagse buurt Kraayenstein. Bespreek problemen samen met uw buurtgenotenm meld anoniem aan de gemeente en chat live met uw buren."/>
        <title>@ViewData["Title"] - StreetTalk</title>
        <partial name="_GlobalStyles" />
        @RenderSection("styles", false)
    </head>
    <body>
        <div class="d-flex st-navbar-container flex-column min-vh-100">
            <partial name="_Navbar" />
            <div class="container-fluid d-flex flex-grow-1">
                <main>
                    @RenderBody()
                </main>
            </div>
            <partial name="_Footer" />
        </div>

        <partial name="_ErrorPopup" />

        <script defer src="~/lib/jquery/dist/jquery.min.js"></script>
        <script defer src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script defer src="~/js/site.js" asp-append-version="true"></script>
        <script defer src="~/js/apiService.js" asp-append-version="true"></script>
        <script defer src="~/js/navbar.js" asp-append-version="true"></script>
        <script defer src="~/js/errorpopup.js" asp-append-version="true"></script>
        <script defer src="~/js/filterbutton.js" asp-append-version="true"></script>
        <script defer src="~/js/like.js" asp-append-version="true"></script>
        <script defer src="~/js/report.js" asp-append-version="true"></script>
        <script defer src="~/js/markdown.js" asp-append-version="true"></script>
        <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
        @RenderSection("Scripts", required: false)
    </body>
</html>