@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
    Layout = "./_Layout";
}

<h1>@ViewData["Title"]</h1>
<p>Verificatie email verstuurd, check je email.</p>
<span class="text-muted">Check ook uw spam folder</span>
<a class="btn btn-primary mt-3" asp-controller="Home" asp-action="Rondleiding">Start de rondleiding</a>
